* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

rect {
  fill: steelblue;
}

.tick text {
  font-size: 1.4rem;
  fill: #8e8883;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  font-size: 1.4rem;
  fill: #8e8883;
}

.title {
  font-size: 3.2rem;
  fill: #8e8883;
}
